<div class="container text-center">
    <h1>Dashboard</h1>
    <% if @user %>
      <p>Welcome <%= @user.first_name %></p>
      <% if @user.admin? %>
        <p> Admin </p>
        <%= link_to "Show all users", users_path %>
      <% end %>
      <%= link_to "Click here to make an appointment", new_user_appointment_path(@user) %>
      <%= link_to "Show all appointments", user_appointments_path(@user) %>
      <%= form_with(url: logout_path, method: :post) do |form| %>
        <%= form.submit "Log Out" %>
      <% end %>
    <% else %>
      <p>Please login to access your dashboard.</p>
    <% end %>
</div>