<div class="container mt-3">
  <%= link_to user_dashboard_path(current_user), class: "btn btn-light mb-4 text-decoration-none" do %>
    <i class="bi bi-arrow-left"></i> Back to Dashboard
  <% end %>

  <h1 class="mb-4">Users</h1>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title"><%= user.first_name %> <%= user.last_name %></h2>
            <p class="card-text"><%= user.email %></p>
            <%= link_to "Show this user", user, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
