<%= form_with(model: [ @user, appointment ], local: true, class: "mt-4") do |form| %>
  <% if appointment.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h4>
      <ul class="mb-0">
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <label class="mb-2">Time:</label>
    <p><%= @time_range %></p>
  </div>

  <div class="form-group mb-3">
    <%= form.label :service, "Service", class: "form-label" %>
    <%= form.text_field :service, class: "form-control", placeholder: "Enter service type" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :comments, "Comments", class: "form-label" %>
    <%= form.text_area :comments, class: "form-control", placeholder: "Enter any additional comments" %>
  </div>

  <div class="form-group mt-4">
    <%= form.submit "Save Appointment", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
