<div class="container mt-4">
  <%= form_with(model: availability, local: true, class: "mb-4") do |form| %>
    <% if availability.errors.any? %>
      <div class="alert alert-danger mb-4">
        <h4 class="alert-heading"><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h4>
        <ul>
          <% availability.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group mb-3">
      <%= form.label :start_time, class: "form-label" %>
      <%= form.datetime_field :start_time, class: "form-control" %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :end_time, class: "form-label" %>
      <%= form.datetime_field :end_time, class: "form-control" %>
    </div>

    <div class="form-group mt-4">
      <%= form.submit "Save Availability", class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>
</div>
